  <html>
    <head>
      <title> Crud-mongodb </title>
      <link href="/styles.css" rel="stylesheet">
      <style>
        
        .mdi:before {
          font-family: FontAwesome;
          content: "\f00d";
          display: inline-block;
          padding-right: 3px;
          vertical-align: middle;
          font-size: .756em;
          color: #405189
        }
        
        .task-done { text-decoration: line-through; }
      </style>
    </head>
    <body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="http://code.jquery.com/jquery.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <!-- <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script> -->
      <div class="container">
        <h2> Simple Todo app </h2>
        <form method="POST">
            <input type="text" name="newtask" placeholder="add new task">
            <button type="submit" formaction="/addtask"> Add Task </button>

            <h2> Added Task </h2>
            <% for( let i = 0; i < task.length; i++){ %>
                <li>
                  <input type="checkbox" name="tbox" id="tbox" class="cbx" value="<%= task[i].ntask %>" /> <%= task[i].ntask %>
                  <a href="/removetask/<%=task[i].id%>" type="submit"><i class="remove mdi mdi-close-circle-outline"></i></a>
                  <a href="/utask/<%=task[i].id%>" type="submit"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                </li>
            <% } %>
        </form>
      </div>
    </body>
    <script>
      //NO EMPTY FIELD
      function empty() {
      var x;
      x = ((document.getElementById("tbox").value).trim());
      if (x == "" || x == null) {
          alert("YOUR FIELD IS EMPTY");
      };
  }
      //STRIKE THROUGH
      $('input.cbx').on('change', function () {
        if ($(this).is(":checked")) {
            $(this).closest('li').addClass("task-done");
        } else {
            $(this).closest('li').removeClass("task-done");
        }
      });

    </script>
    
  </html>
